@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.site{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.conteudo{
    width: 1320px;
    margin: 0 auto;
    /* border: dotted 2px #000; */
}

header {
    height: 120px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

header .conteudo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .conteudo .logo{
    width: 165px;
}

header .conteudo .menus ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}

header .conteudo .menus ul a{
    text-decoration: none;
}

.fundo-lupa .lupa{
    padding: 7px;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #9B9B9B;
}

.fundo .icons{
    color: white;
    background-color: #9B9B9B;
    border-radius: 50px;
    padding: 7px 10px;
}

.fundo .icons:hover{
    color: #9B9B9B;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

.fundo .icons-PH{
    color: white;
    background-color: #9B9B9B;
    border-radius: 50px;
    padding: 7px 15px;
}

.fundo .icons-PH:hover{
    color: #9B9B9B;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

.fundo-blog .blog{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0082C4 0%, #003C6A 100%);
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
}

.fundo-blog .blog:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
    color: #0082C4;
}

.flag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flag .flags img{
    width: 100%; 
    height: auto;
}

.flag .es img{
    width: 78%; 
    height: auto;
}

.menu{
    height: 50px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
    display: flex;
    align-items: center;
    padding: 20px;
}

.menu ul{
    flex-basis: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li a{
    text-decoration: none;
    color: #003C6A;
    font-weight: 450;
    padding: 15px;
}

.menu ul li a:hover{
    background-color: #FFF;
    color: #58d0f5;
}

.banner{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-bottom: 100px;
    background-color: #00315E;
}

.conteudo-noticias{
    display: flex;
    justify-content: space-between;
}

.noticias-competencias{
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.noticias-competencias h2{
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top: 80px;
    padding: 10px 0px;
}

.card-noticias{
    flex-basis: 24%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #005CAAC7;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-noticias .card-noticias-image{
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-noticias .card-noticias-data{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00315EBD;
    position: absolute;
    top: 170px;
    width: 100%;
    color: #fff;
    font-weight: 300;
    color: #50C4FF;
    
}

.card-noticias .card-noticias-image img{
    width: 100%;
    transition: all 0.5s ease-out;
}

.card-noticias .card-noticias-image:hover img{
    transform: scale(1.3);
}

.card-noticias-text{
    padding: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #003C6A;
}

.card-noticias .leia-mais .btn{
    background-color: #EBEBEB;
    color: #0082C4;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    font-style: italic;
}

.card-noticias .leia-mais .btn:hover{
    color: white;
    background-color: #0082C4;
}

.conteudo .veja-noticias .btn{
    color: #FFF;
    padding: 15px 0px;
    border-radius: 15px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    font-style: italic;
    font-size: 14;
}

.conteudo-competencias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.card-competencias{
    flex-basis: 32.33%;
    border-radius: 10px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #005CAAC7;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-competencias .card-competencias-image{
    overflow: hidden;
    position: relative;
}

.card-competencias .card-competencias-image img{
    width: 100%;
    transition: all 1.1s ease-out;
}

.card-competencias .card-competencias-image:hover img{
    transform: scale(1.3);
}

.card-competencias .card-competencias-text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.oportunidades{
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 300px;
}

.oportunidades .conteudo-oportunidades .titulo{
    color: #003C6A;
    font-weight: 900;
    font-size: 30px;
    margin-top: 100px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.itens-oportunidades{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.itens-oportunidades .card-oportunidades{
    flex-basis: 24%; 
    border-radius: 10px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 600px;
}

.itens-oportunidades .card-oportunidades h1{
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 15px;
}

#yellow{
    background-image: url('images/Oportunidades_Cursos_Banners_01.png'), 
    url('images/Oportunidades_Cursos_Banners_02.png'), 
    url('images/Oportunidades_Cursos_Banners_03.png'),
    url('images/Oportunidades_Cursos_Banners_04.png');
    background-size: cover;
    background-position: center;
    animation: changeBackgroundYellow 15s infinite; 
    border-style: solid;
    border-width: 1px;
    border-color: #FFFC77;
}

@keyframes changeBackgroundYellow {
    0% { background-image: url('images/Oportunidades_Cursos_Banners_01.png'); }
    33% { background-image: url('images/Oportunidades_Cursos_Banners_02.png'); }
    66% { background-image: url('images/Oportunidades_Cursos_Banners_03.png'); }
    100% { background-image: url('images/Oportunidades_Cursos_Banners_04.png'); }
}

#amarelo{
    background-color: #FCA51A;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFC77;
}

#amarelo:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#verde{
    background-image: url('images/Oportunidades_Editais_Banners_01.png'), 
    url('images/Oportunidades_Editais_Banners_02.png'), 
    url('images/Oportunidades_Editais_Banners_03.png'),
    url('images/Oportunidades_Editais_Banners_04.png');
    background-size: cover;
    background-position: center;
    animation: changeBackgroundGreen 15s infinite; 
    border-style: solid;
    border-width: 1px;
    border-color: #E9FF77;
}

@keyframes changeBackgroundGreen {
    0% { background-image: url('images/Oportunidades_Editais_Banners_01.png'); }
    33% { background-image: url('images/Oportunidades_Editais_Banners_02.png'); }
    66% { background-image: url('images/Oportunidades_Editais_Banners_03.png'); }
    100% { background-image: url('images/Oportunidades_Editais_Banners_04.png'); }
}

#green{
    background-color: #B8CB33;
    border-style: solid;
    border-width: 1px;
    border-color: #E9FF77;
}

#green:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#cyan{
    background-image: url('images/Oportunidades_Ecossistema_Banners-01.png'), 
    url('images/Oportunidades_Ecossistema_Banners-02.png'), 
    url('images/Oportunidades_Ecossistema_Banners-03.png'),
    url('images/Oportunidades_Ecossistema_Banners-04.png');
    background-size: cover;
    background-position: center;
    animation: changeBackgroundCyan 15s infinite; 
    border-style: solid;
    border-width: 1px;
    border-color: #00F9FF;
}

@keyframes changeBackgroundCyan {
    0% { background-image: url('images/Oportunidades_Ecossistema_Banners-01.png'); }
    33% { background-image: url('images/Oportunidades_Ecossistema_Banners-02.png'); }
    66% { background-image: url('images/Oportunidades_Ecossistema_Banners-03.png'); }
    100% { background-image: url('images/Oportunidades_Ecossistema_Banners-04.png'); }
}

#ciano{
    background-color: #00ABAF;
    border-style: solid;
    border-width: 1px;
    border-color: #00F9FF;
}

#ciano:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#vermelho{
    background-image: url('images/Oportunidades_Facaparte_Banners-01.png'), 
    url('images/Oportunidades_Facaparte_Banners-02.png'), 
    url('images/Oportunidades_Facaparte_Banners-03.png'),
    url('images/Oportunidades_Facaparte_Banners-04.png');
    background-size: cover;
    background-position: center;
    animation: changeBackgroundRed 15s infinite; 
    border-style: solid;
    border-width: 1px;
    border-color: #FF687D;
}

@keyframes changeBackgroundRed {
    0% { background-image: url('images/Oportunidades_Facaparte_Banners-01.png'); }
    33% { background-image: url('images/Oportunidades_Facaparte_Banners-02.png'); }
    66% { background-image: url('images/Oportunidades_Facaparte_Banners-03.png'); }
    100% { background-image: url('images/Oportunidades_Facaparte_Banners-04.png'); }
}

#red{
    background-color: #E12843;
    border-style: solid;
    border-width: 1px;
    border-color: #FF687D;
}

#red:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.itens-oportunidades .card-oportunidades .card-oportunidade-conteudo{
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.image img{
    width: 20%; 
    height: auto;
}

.card-oportunidade-conteudo .image{
    display: flex; 
    align-items: center;    
    color: white;
}

.card-oportunidade-conteudo .image .space{
    margin-left: 20px;
}
footer{
    background-color: transparent;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #00315E;
    text-align: center;
    padding: 10px 0;
}

footer .image{
    text-align: left;
    margin-left: 20px;
}

footer .image img{
    width: 15%; 
    height: auto;
}

footer .link-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .link-icons .quebra{
    flex-wrap: wrap;
}

footer .link-icons ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 20px;
    gap: 8px;
}

footer .link-icons ul .icons-footer {
    text-align: left;
}

.fundo-footer .icons-footer {
    background-color: #0082C4;
    border-radius: 50px;
    padding: 8px;
    color: #00315E;
}

.fundo-footer .icons-footer:hover {
    background-color: #00315E;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #0082C4;
    border-style: solid;
    border-width: 1px;
    border-color: #0082C4;
}

footer .links-footer{
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-bottom: 120px;
}

footer .links-footer .links-final a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer .links-footer .links-final a:hover{
    color: #0082C4;
}

.retornar-topo {
    margin-right: 20px;
    margin-bottom: 220px;
}

.retornar-topo .topo .voltar {
    background-color: white;
    color: #003C6A;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.retornar-topo .topo .voltar:hover {
    background-color: #00315E;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #0082C4;
    border-style: solid;
    border-width: 2px;
    border-color: #0082C4;
}

footer .text{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    line-height: 1.3em;
    font-size: 14px;
}

footer .cadastre{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 70px;
}
footer .cadastre .button{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0082C4 0%, #003C6A 100%);
    color: white;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
    padding: 5px 15px;
    font-family: "Ubuntu", Sans-serif;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
}

footer .cadastre .button:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, #00082500 0%, #00082500 100%);
    color: #0082C4;
}

footer .direito-autorais p{
    font-size: 12px;
    line-height: 15px;
}

#triangulos {
    display: flex; 
    align-items: center; 
}

/* Triângulo preto apontando para a direita (►) */
#triangulo-right-maior {
    width: 0;
    height: 0;
    border-left: 684.5px solid rgba(221, 221, 221, 1); 
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    position: relative; 
}

#triangulo-right-medio {
    width: 0;
    height: 0;
    border-left: 684.5px solid rgba(170, 170, 170, 0.6); 
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute; 
    right: 0; 
}

#triangulo-right-menor {
    width: 0;
    height: 0;
    border-left: 684.5px solid rgba(0, 8, 37, 0.7); 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute; 
    right: 0; 
}

/* Triângulo vermelho apontando para a esquerda (◄) */
#triangulo-left-maior {
    width: 0;
    height: 0;
    border-right: 684.5px solid rgba(221, 221, 221, 1);
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    position: relative;
}

#triangulo-left-medio {
    width: 0;
    height: 0;
    border-right: 684.5px solid rgba(170, 170, 170, 0.6);
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute; 
    left: 0;
}

#triangulo-left-menor {
    width: 0;
    height: 0;
    border-right: 684.5px solid rgba(0, 8, 37, 0.7); 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute; 
    left: 0; 
}
