@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.site{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.conteudo{
    width: 1320px;
    margin: 0 auto;
    /* border: dotted 2px #000; */
}

header {
    height: 120px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

header .conteudo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .conteudo .logo{
    width: 165px;
}

header .conteudo .menus ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}

header .conteudo .menus ul a{
    text-decoration: none;
}

.fundo-lupa .lupa{
    padding: 7px;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #9B9B9B;
}

.fundo .icons{
    color: white;
    background-color: #9B9B9B;
    border-radius: 50px;
    padding: 7px 10px;
}

.fundo .icons:hover{
    color: #9B9B9B;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

.fundo .icons-PH{
    color: white;
    background-color: #9B9B9B;
    border-radius: 50px;
    padding: 7px 15px;
}

.fundo .icons-PH:hover{
    color: #9B9B9B;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

.fundo-blog .blog{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0082C4 0%, #003C6A 100%);
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
}

.fundo-blog .blog:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
    color: #0082C4;
}

.flag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flag .flags img{
    width: 100%; 
    height: auto;
}

.flag .es img{
    width: 78%; 
    height: auto;
}

.menu{
    height: 50px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
    display: flex;
    align-items: center;
    padding: 20px;
}

.menu ul{
    flex-basis: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li a{
    text-decoration: none;
    color: #003C6A;
    font-weight: 450;
    padding: 15px;
}

.menu ul li a:hover{
    background-color: #FFF;
    color: #58d0f5;
}

.banner{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-bottom: 100px;
    background-color: #00315E;
}

.conteudo-noticias{
    display: flex;
    justify-content: space-between;
}

.noticias-competencias{
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.noticias-competencias h2{
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top: 80px;
    padding: 10px 0px;
}

.card-noticias{
    flex-basis: 24%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #005CAAC7;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-noticias .card-noticias-image{
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-noticias .card-noticias-data{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00315EBD;
    position: absolute;
    top: 170px;
    width: 100%;
    color: #fff;
    font-weight: 300;
    color: #50C4FF;
    
}

.card-noticias .card-noticias-image img{
    width: 100%;
    transition: all 0.5s ease-out;
}

.card-noticias .card-noticias-image:hover img{
    transform: scale(1.3);
}

.card-noticias-text{
    padding: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #003C6A;
}

.card-noticias .leia-mais .btn{
    background-color: #EBEBEB;
    color: #0082C4;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    font-style: italic;
}

.card-noticias .leia-mais .btn:hover{
    color: white;
    background-color: #0082C4;
}

.conteudo .veja-noticias .btn{
    color: #FFF;
    padding: 15px 0px;
    border-radius: 15px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    font-style: italic;
    font-size: 14;
}

.conteudo-competencias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.card-competencias{
    flex-basis: 32.33%;
    border-radius: 10px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #005CAAC7;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-competencias .card-competencias-image{
    overflow: hidden;
    position: relative;
}

.card-competencias .card-competencias-image img{
    width: 100%;
    transition: all 1.1s ease-out;
}

.card-competencias .card-competencias-image:hover img{
    transform: scale(1.3);
}

.card-competencias .card-competencias-text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.oportunidades{
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 300px;
}

.oportunidades .conteudo-oportunidades h2{
    color: #003C6A;
    font-weight: 900;
    font-size: 30px;
    margin-top: 100px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.itens-oportunidades{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.itens-oportunidades .card-oportunidades{
    flex-basis: 24%; 
    border-radius: 10px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 600px;
}

footer{
    background-color: transparent;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #00315E;
    text-align: center;
    padding: 10px 0;
}

footer .image{
    text-align: left;
    margin-left: 20px;
}

footer .image img{
    width: 15%; 
    height: auto;
}

footer .link-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .link-icons .quebra{
    flex-wrap: wrap;
}

footer .link-icons ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 20px;
    gap: 8px;
}

footer .link-icons ul .icons-footer {
    text-align: left;
}

.fundo-footer .icons-footer {
    background-color: #0082C4;
    border-radius: 50px;
    padding: 8px;
    color: #00315E;
}

.fundo-footer .icons-footer:hover {
    background-color: #00315E;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #0082C4;
    border-style: solid;
    border-width: 1px;
    border-color: #0082C4;
}

footer .links-footer{
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-bottom: 120px;
}

footer .links-footer .links-final a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer .links-footer .links-final a:hover{
    color: #0082C4;
}

.retornar-topo {
    margin-right: 20px;
    margin-bottom: 220px;
}

.retornar-topo .topo .voltar {
    background-color: white;
    color: #003C6A;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.retornar-topo .topo .voltar:hover {
    background-color: #00315E;
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
    color: #0082C4;
    border-style: solid;
    border-width: 2px;
    border-color: #0082C4;
}

footer .text{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    line-height: 1.3em;
    font-size: 14px;
}

footer .cadastre{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 70px;
}
footer .cadastre .button{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0082C4 0%, #003C6A 100%);
    color: white;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0082C4;
    padding: 5px 15px;
    font-family: "Ubuntu", Sans-serif;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
}

footer .cadastre .button:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, #00082500 0%, #00082500 100%);
    color: #0082C4;
}

footer .direito-autorais p{
    font-size: 12px;
    line-height: 15px;
}
